extends layout

block content
  h1 Local Library Home
  p Welcome to LocalLibrary, your go-to destination for exploring a vast collection of books online. Whether you're an avid reader or just starting your reading journey, our website offers a plethora of literary treasures waiting to be discovered.

  // Update the dynamic content
  h2 Dynamic content
  p The library currently boasts an impressive collection:
  ul
    li Books: #{bookCount}
    li Copies: #{copyCount}
    li Copies available: #{availableCopyCount}
    li Authors: #{authorCount}
    li Genres: #{genreCount}
